@import url('style.css');

@import "compass/css3";

body#tinymce.wp-editor {
	margin: 10px;

	ul {
		margin-top: 0;
		margin-left: 5px;
		padding-left: 5px;
		list-style: none;

		li {
			padding-left: 1em;

			&:before {
				@include inline-block;
				content: "-";
				width: 0;
				position: relative;
				left: -0.8em;
				bottom: 0.1em;
			}

		}

	}

	// wysiwyg editors for tab panes have different styles
	&._wk_spotlight_content,
	&._wk_about_desc,
	&._wk_review,
	&._wk_insight1_content,
	&._wk_insight2_content,
	&._wk_insight3_content,
	&._wk_insight4_content {

		h3 {
			font-size: 17px;
			margin: 20px 0;
		}

		h4 {
			font-size: 15px;
			margin: 15px 0 5px;
		}

	}

}